/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInBottom {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* reset for different browsers - normalize and reset not really needed anymore */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* better to inherit this from body so it's more future proof and is the standard approach */
  box-sizing: inherit; }

/* Needs to be % so that it doesn't overide the browser default size. */
/* this would mean users wouldn't be able to zoom in */
/* font-size: 10px; */
/* this defines what 1rem is*/
.bgred {
  background: red; }

.bggreen {
  background: green; }

.bgblue {
  background: blue; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 5px;
  position: relative; }

a:hover {
  color: inherit;
  right: 0;
  text-decoration: none; }

.hide {
  display: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #444; }

.heading-primary {
  /* occasionally get wobble on animation. not known why but this is fixes it, */
  /* this hides the back part of an element when we transform it */
  backface-visibility: hidden;
  margin-bottom: 2rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    line-height: normal;
    font-weight: 400;
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (min-width: 56.25em) {
      .heading-primary--main {
        font-size: 8rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    line-height: normal;
    font-weight: 400;
    animation: moveInBottom 1s ease-out; }
    @media only screen and (min-width: 56.25em) {
      .heading-primary--sub {
        font-size: 8rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  color: #444;
  letter-spacing: 2px;
  line-height: normal; }
  .heading-secondary--border-bottom {
    position: relative; }
    .heading-secondary--border-bottom:after {
      border-color: #3ab54a;
      border-radius: 1em;
      border-top: 0.1em solid #3ab54a;
      content: "";
      position: absolute;
      right: 100%;
      bottom: -14px;
      left: 0;
      right: 140px; }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 700;
  color: #444; }

.heading-quaternary {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  color: #777; }

.heading-paragraph {
  width: 100%;
  padding: 0rem 1rem 1rem 0;
  font-size: 1.6rem;
  line-height: normal;
  animation: moveInBottom 1s ease-out; }
  .heading-paragraph:not(:last-child) {
    margin-bottom: 1.6rem; }
  @media only screen and (min-width: 56.25em) {
    .heading-paragraph {
      width: 70%;
      font-size: 2.2rem;
      line-height: 2.8rem; } }
  @media only screen and (min-width: 75em) {
    .heading-paragraph {
      width: 40%; } }

.paragraph {
  font-size: 1.6rem;
  line-height: normal; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.6rem; }

.row {
  max-width: 100%;
  padding: 0 3rem; }
  @media only screen and (min-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  @media only screen and (min-width: 56.25em) {
    .row--flex {
      display: flex; } }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
    @media only screen and (min-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row.small-grid:not(:last-child) {
    margin-bottom: 1rem; }
    @media only screen and (min-width: 56.25em) {
      .row.small-grid:not(:last-child) {
        margin-bottom: 1rem; } }
  @media only screen and (min-width: 56.25em) {
    .row {
      max-width: 140rem;
      margin: 0 auto; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-direction__normal:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 56.25em) {
      .row .col-direction__normal:not(:last-child) {
        margin-right: 6rem; } }
  @media only screen and (min-width: 56.25em) {
    .row .col-direction__normal.small-grid:not(:last-child) {
      margin-right: 2rem; } }
  @media only screen and (min-width: 56.25em) {
    .row .col-direction__normal {
      float: left; } }
  @media only screen and (min-width: 56.25em) {
    .row .col-direction__normal--flex {
      display: flex; } }
  .row .col-direction__reversed:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem; }
  @media only screen and (min-width: 56.25em) {
    .row .col-direction__reversed:last-child {
      margin-right: 6rem; } }
  @media only screen and (min-width: 56.25em) {
    .row .col-direction__reversed.small-grid:last-child {
      margin-right: 2rem; } }
  @media only screen and (min-width: 56.25em) {
    .row .col-direction__reversed {
      float: right; } }
  .row .col-1-of-2 {
    width: 100%; }
    @media only screen and (min-width: 56.25em) {
      .row .col-1-of-2 {
        width: calc((100% - 6rem) / 2); } }
  .row .col-1-of-3 {
    width: 100%; }
    @media only screen and (min-width: 56.25em) {
      .row .col-1-of-3 {
        width: calc((100% - 2 * 6rem) / 3); } }
    @media only screen and (min-width: 56.25em) {
      .row .col-1-of-3.small-grid {
        width: calc((100% - 2 * 2rem) / 3); } }
  .row .col-2-of-3 {
    width: 100%; }
    @media only screen and (min-width: 56.25em) {
      .row .col-2-of-3 {
        width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); } }
    @media only screen and (min-width: 56.25em) {
      .row .col-2-of-3.small-grid {
        width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); } }
  .row .col-1-of-4 {
    width: 100%; }
    @media only screen and (min-width: 56.25em) {
      .row .col-1-of-4 {
        width: calc((100% - 3 * 6rem) / 4); } }
    @media only screen and (min-width: 56.25em) {
      .row .col-1-of-4.small-grid {
        width: calc((100% - 3 * 2rem) / 4); } }
  .row .col-2-of-4 {
    width: 100%; }
    @media only screen and (min-width: 56.25em) {
      .row .col-2-of-4 {
        width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); } }
    @media only screen and (min-width: 56.25em) {
      .row .col-2-of-4.small-grid {
        width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); } }
  .row .col-3-of-4 {
    width: 100%; }
    @media only screen and (min-width: 56.25em) {
      .row .col-3-of-4 {
        width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); } }
    @media only screen and (min-width: 56.25em) {
      .row .col-3-of-4.small-grid {
        width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); } }

.header {
  height: 100vh;
  position: relative;
  background-attachment: scroll;
  background-position: top;
  background-image: url(../imgs/hero_img_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  transition: all 0.5s; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%; }
    @media only screen and (min-width: 56.25em) {
      .header__text-box {
        width: initial;
        top: 35%;
        left: 4rem;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%); } }

.footer {
  background-color: black;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #777; }
  @media only screen and (min-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (min-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 8rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (min-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #777;
    background-color: #777;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (min-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

body.is-open {
  height: 100vh;
  overflow-y: hidden;
  position: fixed; }

.nav-wrap {
  height: 8rem;
  position: absolute;
  width: 100%; }

.nav-icons {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.8);
  animation: moveInTop 0.5s ease-out; }
  @media only screen and (min-width: 56.25em) {
    .nav-icons {
      background: none;
      position: absolute;
      width: 20rem; } }
  .nav-icons__logo {
    /* browser will identify the correct measurement for the remaining dimension */
    height: 5rem;
    backface-visibility: hidden;
    position: relative;
    left: 4rem; }
  .nav-icons__menu {
    position: absolute;
    right: 5rem;
    width: 40px; }
    @media only screen and (min-width: 56.25em) {
      .nav-icons__menu {
        display: none; } }
    .nav-icons__menu:hover {
      cursor: pointer; }
    .nav-icons__menu:after, .nav-icons__menu:before {
      background-color: #fff;
      border-radius: 3px;
      content: '';
      display: block;
      height: 5px;
      margin: 7px 0;
      transition: all .2s ease-in-out; }
    .nav-icons__menu-center {
      background-color: #fff;
      border-radius: 3px;
      content: '';
      display: block;
      height: 5px;
      margin: 7px 0;
      transition: all .2s ease-in-out; }
    .nav-icons__menu--open:before {
      -webkit-transform: translateY(12px) rotate(135deg);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateY(12px) rotate(135deg);
      /* IE 9 */
      transform: translateY(12px) rotate(135deg); }
    .nav-icons__menu--open:after {
      -webkit-transform: translateY(-12px) rotate(-135deg);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateY(-12px) rotate(-135deg);
      /* IE 9 */
      transform: translateY(-12px) rotate(-135deg); }
    .nav-icons__menu--open .nav-icons__menu-center {
      -webkit-transform: scale(0);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: scale(0);
      /* IE 9 */
      transform: scale(0); }

.navigation {
  color: #ffffff;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 100vw;
  background: #000;
  z-index: 1;
  right: -100vw;
  font-size: 3.5rem; }
  .navigation--dark {
    color: #222222; }
  .navigation__offsite-container {
    position: fixed;
    transition: transform 0.2s ease-out; }
  @media only screen and (min-width: 56.25em) {
    .navigation {
      position: absolute;
      height: 8rem;
      width: 56rem;
      font-size: 2rem;
      background: none;
      right: 0;
      animation: moveInTop 0.5s ease-out; } }
  .navigation ul {
    text-align: center;
    width: 100vw; }
    @media only screen and (min-width: 56.25em) {
      .navigation ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3rem; } }
    @media only screen and (min-width: 56.25em) {
      .navigation ul li {
        float: left;
        margin-right: 2rem; } }
  .navigation__link:hover:after {
    border-color: #3ab54a;
    right: 0; }
  .navigation__link:after {
    border-radius: 1em;
    border-top: 0.1em solid #3ab54a;
    content: "";
    position: absolute;
    right: 100%;
    bottom: -0.1em;
    left: 0;
    transition: right 0.25s cubic-bezier(0, 0.5, 0, 1), border-color 0.25s ease-out; }
  .navigation__link:hover:after {
    right: 0; }

.show-menu {
  -webkit-transform: translateX(-100vw);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: translateX(-100vw);
  /* IE 9 */
  transform: translateX(-100vw); }

@media only screen and (min-width: 56.25em) {
  .pre-sticky {
    position: fixed;
    height: 8rem;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    top: -10rem;
    transition: transform 0.3s ease-out; } }

@media only screen and (min-width: 56.25em) {
  .sticky {
    transform: translateY(10rem); } }

.section-development {
  padding: 4rem 0 4rem;
  width: 80%;
  margin: 0 auto; }

.section-property {
  padding: 4rem 0 4rem; }
  .section-property img {
    width: 100%; }

.angle-divider {
  min-height: 225px;
  position: relative;
  opacity: 0.85;
  background-attachment: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imgs/background-house2.jpg);
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (min-width: 75em) {
    .angle-divider {
      min-height: 300px;
      background-attachment: fixed; } }
  .angle-divider h2 {
    font-size: 1.8rem;
    width: 90%;
    font-weight: normal;
    color: #000;
    text-align: center;
    padding-bottom: 3rem; }
    @media only screen and (min-width: 56.25em) {
      .angle-divider h2 {
        font-size: 2.4rem;
        width: 70%;
        padding-bottom: 5.5rem; } }
  .angle-divider__svg {
    width: 100%;
    max-width: 200rem;
    position: absolute;
    top: 10.5rem;
    z-index: 3; }
    @media only screen and (min-width: 56.25em) {
      .angle-divider__svg {
        top: 8.5rem; } }
    @media only screen and (min-width: 75em) {
      .angle-divider__svg {
        top: 15.5rem; } }
    @media only screen and (min-width: 112.5em) {
      .angle-divider__svg {
        top: 11.5rem; } }

.panel {
  margin-bottom: 3rem; }

.portfolio {
  padding: 10rem 0rem 10rem;
  /* The expanding image container */ }
  .portfolio.no-padding-bottom {
    padding: 10rem 0rem 0rem; }
  .portfolio__item-info {
    display: inherit;
    flex-direction: column; }
  .portfolio__pics {
    flex: 1; }
  .portfolio__links {
    display: flex;
    justify-content: left; }
    @media only screen and (min-width: 56.25em) {
      .portfolio__links {
        display: block;
        -webkit-align-items: flex-start;
        align-items: flex-start; } }
  .portfolio__link {
    font-size: 2.5rem;
    font-weight: 700;
    display: inline-block;
    color: #444;
    letter-spacing: 1px;
    line-height: 4rem;
    margin: 0 2rem;
    cursor: pointer; }
    .portfolio__link:first-of-type {
      margin: 0 2rem 0 0; }
    @media only screen and (min-width: 56.25em) {
      .portfolio__link {
        margin: 0; } }
    .portfolio__link--grey {
      color: grey;
      transition: all 0.5s; }
    .portfolio__link--border-bottom {
      position: relative; }
      .portfolio__link--border-bottom:after {
        border-color: #3ab54a;
        border-radius: 1em;
        border-top: 0.1em solid #3ab54a;
        content: "";
        position: absolute;
        right: 100%;
        bottom: -14px;
        left: 0;
        right: 140px; }
    .portfolio__link:hover:after {
      border-color: #3ab54a;
      right: 0; }
    .portfolio__link:after {
      border-radius: 1em;
      border-top: 0.1em solid #3ab54a;
      content: "";
      position: absolute;
      right: 100%;
      bottom: .14em;
      left: 0;
      transition: right 0.25s cubic-bezier(0, 0.5, 0, 1), border-color 0.25s ease-out; }
    .portfolio__link:hover:after {
      right: 0; }
  .portfolio__pics {
    position: relative; }
  .portfolio__pic {
    display: inherit;
    flex: 1;
    -webkit-align-items: flex-end;
    align-items: flex-end; }
  .portfolio .container {
    position: relative;
    display: block; }
    .portfolio .container img {
      width: 100%;
      transition: opacity 1s ease-in-out; }

.portfolio-development {
  position: relative;
  top: 5rem;
  height: 40rem;
  background-attachment: scroll;
  background-position: top;
  background-image: url(../imgs/hero_narrow_img_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  transition: all 0.5s; }
  .portfolio-development__text-box {
    width: 80%;
    position: absolute;
    bottom: 5%;
    left: 3rem;
    font-size: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .portfolio-development__text-box {
        width: initial;
        font-size: 3rem;
        bottom: 5%;
        left: 3rem;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%); } }
  .portfolio-development__item {
    position: relative; }
    .portfolio-development__item img {
      position: relative; }
    .portfolio-development__item .test {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white; }
  .portfolio-development__property-grid {
    position: relative;
    top: 7rem; }
  .portfolio-development__footer {
    position: relative;
    top: 8rem; }
