/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@keyframes moveInBottom {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fade {
  from {
    opacity: .7; }
  to {
    opacity: 1; } }

/* reset for different browsers*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* better to inherit this from body so it's more future proof and is the standard approach */
  box-sizing: inherit; }

/* this defines what 1rem is*/
html {
  /* needs to be % so that it doesn't overide the browser default size. */
  /* this would mean users wouldn't be able to zoom in */
  /* font-size: 10px; */
  /* this defines what 1rem is*/
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  max-width: 230rem;
  width: 100%;
  margin: 0 auto; }

.u-marg-top {
  margin-top: 2rem; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #444; }

.homepage-heading {
  /* occasionally get wobble on animation. not known why but this is fixes it, */
  /* this hides the back part of an element when we transform it */
  backface-visibility: hidden;
  margin-bottom: 2rem; }
  .homepage-heading--main {
    display: block;
    font-size: 4rem;
    line-height: normal;
    font-weight: 400;
    animation: moveInBottom 1s ease-out; }
    @media only screen and (min-width: 56.25em) {
      .homepage-heading--main {
        font-size: 8rem; } }
  .homepage-heading__paragraph {
    width: 100%;
    padding: 0rem 1rem 1rem 0;
    font-size: 1.8rem;
    line-height: normal;
    line-height: 1.3;
    animation: moveInBottom 1s ease-out; }
    .homepage-heading__paragraph:not(:last-child) {
      margin-bottom: 1.6rem; }
    @media only screen and (min-width: 56.25em) {
      .homepage-heading__paragraph {
        width: 70%;
        font-size: 2.2rem;
        line-height: 2.8rem; } }
    @media only screen and (min-width: 75em) {
      .homepage-heading__paragraph {
        width: 40%; } }

.heading-primary, .heading-secondary,
.heading-tertiary {
  font-weight: 700; }

.heading-primary, .heading-secondary {
  display: inline-block;
  letter-spacing: 2px;
  line-height: normal; }
  .heading-primary--border-bottom, .heading-secondary--border-bottom {
    position: relative; }
    .heading-primary--border-bottom:after, .heading-secondary--border-bottom:after {
      border-color: #3ab54a;
      border-radius: 1em;
      border-top: 0.1em solid #3ab54a;
      content: "";
      position: absolute;
      right: 100%;
      bottom: -14px;
      left: 0;
      right: 20%; }

.heading-primary {
  margin: 2rem 0;
  font-size: 3.5rem; }
  @media only screen and (min-width: 56.25em) {
    .heading-primary {
      font-size: 4rem; } }

.heading-secondary {
  font-size: 3.25rem; }

.heading-tertiary {
  font-size: 2.5rem; }

.heading-detail {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  color: #717171; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.6rem; }
  .paragraph--small-marg-bottom:not(:last-child) {
    margin-bottom: 0.3rem; }

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  position: relative;
  line-height: normal; }
  a.contact {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    display: block; }
    @media only screen and (min-width: 56.25em) {
      a.contact {
        font-size: 1.8rem; } }
    a.contact--small-marg-bottom:not(:last-child) {
      margin-bottom: 0.3rem; }

a:hover {
  color: inherit;
  right: 0;
  text-decoration: none; }

.generic-page, .portfolio {
  padding: 10rem 0rem 0rem; }

.row {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
    @media only screen and (min-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 5rem; } }
  .row--med-ver-gutter:not(:last-child) {
    margin-bottom: 3rem; }
  .row--sml-ver-gutter:not(:last-child) {
    margin-bottom: 1rem; }
  .row--zero-ver-gutter:not(:last-child) {
    margin-bottom: 0; }

[class^="col-"] {
  width: 100%; }
  [class^="col-"]::after {
    content: "";
    display: table;
    clear: both; }

.col-item--pic {
  padding: 0 0rem 1.25rem;
  line-height: normal; }
  @media only screen and (min-width: 56.25em) {
    .col-item--pic {
      padding: 0 0.75rem 1.25rem; } }
  .col-item--pic img {
    width: 100%; }

.col-item--text {
  padding: 0 0rem 0rem; }
  @media only screen and (min-width: 56.25em) {
    .col-item--text {
      padding: 0 1.25rem 0rem; } }

@media only screen and (min-width: 56.25em) {
  .col-med-1 {
    width: calc(100% / 12);
    float: left; }
  .col-med-2 {
    width: calc(100% / 12 * 2);
    float: left; }
  .col-med-3 {
    width: calc(100% / 12 * 3);
    float: left; }
  .col-med-4 {
    width: calc(100% / 12 * 4);
    float: left; }
  .col-med-5 {
    width: calc(100% / 12 * 5);
    float: left; }
  .col-med-6 {
    width: calc(100% / 12 * 6);
    float: left; }
  .col-med-7 {
    width: calc(100% / 12 * 7);
    float: left; }
  .col-med-8 {
    width: calc(100% / 12 * 8);
    float: left; }
  .col-med-9 {
    width: calc(100% / 12 * 9);
    float: left; }
  .col-med-10 {
    width: calc(100% / 12 * 10);
    float: left; }
  .col-med-11 {
    width: calc(100% / 12 * 11); }
  .col-med-12 {
    width: 100%;
    display: block; } }

@media only screen and (min-width: 75em) {
  .col-lrg-1 {
    width: calc(100% / 12);
    float: left; }
  .col-lrg-2 {
    width: calc(100% / 12 * 2);
    float: left; }
  .col-lrg-3 {
    width: calc(100% / 12 * 3);
    float: left; }
  .col-lrg-4 {
    width: calc(100% / 12 * 4);
    float: left; }
  .col-lrg-5 {
    width: calc(100% / 12 * 5);
    float: left; }
  .col-lrg-6 {
    width: calc(100% / 12 * 6);
    float: left; }
  .col-lrg-7 {
    width: calc(100% / 12 * 7);
    float: left; }
  .col-lrg-8 {
    width: calc(100% / 12 * 8);
    float: left; }
  .col-lrg-9 {
    width: calc(100% / 12 * 9);
    float: left; }
  .col-lrg-10 {
    width: calc(100% / 12 * 10);
    float: left; }
  .col-lrg-11 {
    width: calc(100% / 12 * 11);
    float: left; }
  .col-lrg-12 {
    width: 100%;
    display: block; } }

.homepage-header {
  height: 100vh;
  position: relative;
  background-attachment: scroll;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imgs/hero_img_header.jpg);
  color: #fff;
  transition: all 0.5s; }
  .homepage-header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75%; }
    @media only screen and (min-width: 56.25em) {
      .homepage-header__text-box {
        width: initial;
        top: 35%;
        left: 4rem;
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%); } }

.footer {
  background-color: black;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #bbb;
  position: relative;
  top: 5rem;
  text-align: center; }
  @media only screen and (min-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 3rem; } }
  .footer__logo {
    width: 8rem;
    height: auto; }
  .footer__title {
    font-weight: normal;
    font-size: 2.2rem; }
  .footer__navigation {
    border-top: 1px solid #717171;
    padding-top: 2rem;
    display: inline-block;
    width: 70%; }
    @media only screen and (min-width: 56.25em) {
      .footer__navigation {
        width: 50%; } }
  .footer__item {
    display: inline-block;
    font-size: 1.8rem; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    display: inline-block;
    transition: all 0.8s; }
  .footer__link:hover {
    color: #3ab54a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

body.is-open {
  height: 100vh; }

.nav-wrap {
  height: 8rem;
  position: absolute;
  max-width: 230rem;
  width: 100%;
  margin: 0 auto;
  color: #ffffff; }
  .nav-wrap--dark {
    color: #fff; }
    @media only screen and (min-width: 56.25em) {
      .nav-wrap--dark {
        color: #222222; } }

.nav-icons {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.8);
  animation: moveInTop 0.5s ease-out; }
  @media only screen and (min-width: 56.25em) {
    .nav-icons {
      background: none;
      position: absolute;
      width: 20rem; } }
  .nav-icons__logo {
    /* browser will identify the correct measurement for the remaining dimension */
    height: 5rem;
    backface-visibility: hidden;
    position: relative;
    left: 4rem; }
  .nav-icons__menu {
    position: absolute;
    right: 5rem;
    top: 2rem;
    width: 40px; }
    @media only screen and (min-width: 56.25em) {
      .nav-icons__menu {
        display: none; } }
    .nav-icons__menu:hover {
      cursor: pointer; }
    .nav-icons__menu:after, .nav-icons__menu:before {
      background-color: #fff;
      border-radius: 3px;
      content: '';
      display: block;
      height: 5px;
      margin: 7px 0;
      transition: all .2s ease-in-out; }
    .nav-icons__menu-center {
      background-color: #fff;
      border-radius: 3px;
      content: '';
      display: block;
      height: 5px;
      margin: 7px 0;
      transition: all .2s ease-in-out; }
    .nav-icons__menu--open:before {
      -webkit-transform: translateY(12px) rotate(135deg);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateY(12px) rotate(135deg);
      /* IE 9 */
      transform: translateY(12px) rotate(135deg); }
    .nav-icons__menu--open:after {
      -webkit-transform: translateY(-12px) rotate(-135deg);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: translateY(-12px) rotate(-135deg);
      /* IE 9 */
      transform: translateY(-12px) rotate(-135deg); }
    .nav-icons__menu--open .nav-icons__menu-center {
      -webkit-transform: scale(0);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: scale(0);
      /* IE 9 */
      transform: scale(0); }

.navigation {
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 0;
  background: #000;
  z-index: 1;
  right: 0;
  font-size: 3.5rem;
  transition: 0.2s ease-out; }
  .navigation__offsite-container {
    position: fixed;
    transition: 0.2s ease-out; }
    .navigation__offsite-container ul {
      opacity: 0; }
  @media only screen and (min-width: 56.25em) {
    .navigation {
      position: absolute;
      height: 8rem;
      width: 56rem;
      font-size: 2rem;
      background: none;
      right: 0;
      animation: moveInTop 0.5s ease-out; } }
  .navigation ul {
    text-align: center;
    width: 100vw;
    list-style: none; }
    @media only screen and (min-width: 56.25em) {
      .navigation ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 3rem; } }
    @media only screen and (min-width: 56.25em) {
      .navigation ul li {
        float: left;
        margin-right: 2rem; } }
  .navigation__link:hover:after {
    border-color: #3ab54a;
    right: 15px; }
  .navigation__link:after {
    right: 100%;
    border-radius: 1em;
    border-top: 0.1em solid #3ab54a;
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0;
    transition: right 0.25s cubic-bezier(0, 0.5, 0, 1), border-color 0.25s ease-out; }
  .navigation__link.chosen:after {
    border-color: #3ab54a;
    right: 15px;
    border-radius: 1em;
    border-top: 0.1em solid #3ab54a;
    content: "";
    position: absolute;
    bottom: -0.1em;
    left: 0; }

.show-menu {
  width: 100vw; }
  .show-menu ul {
    opacity: 1; }

@media only screen and (min-width: 56.25em) {
  .pre-sticky {
    position: fixed;
    height: 8rem;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    top: -10rem;
    transition: transform 0.3s ease-out; } }

@media only screen and (min-width: 56.25em) {
  .sticky {
    transform: translateY(10rem);
    color: #fff; } }

.fullwidth-bgheader {
  position: relative;
  top: 0;
  height: 40rem;
  background-attachment: scroll;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
  color: #fff;
  transition: all 0.5s; }
  .fullwidth-bgheader--about {
    background-image: url(../imgs/hero_narrow_img_about_lrg.jpg); }
  .fullwidth-bgheader--calvert {
    background-image: url(../imgs/hero_narrow_img_calvert.jpg); }
  .fullwidth-bgheader--arkesden {
    background-image: url(../imgs/hero_narrow_img_arkesden.jpg); }
  .fullwidth-bgheader--hilltop {
    background-image: url(../imgs/hero_narrow_img_hilltop.jpg); }
  .fullwidth-bgheader--drummonds {
    background-image: url(../imgs/hero_narrow_img_drummonds_lrg.jpg); }
  .fullwidth-bgheader--rushes {
    background-image: url(../imgs/hero_narrow_img_rushes_lrg.jpg); }
  .fullwidth-bgheader--bowditch {
    background-image: url(../imgs/hero_narrow_img_bowditch_lrg.jpg); }
  .fullwidth-bgheader--wedmore {
    background-image: url(../imgs/hero_narrow_img_wedmore_lrg.jpg); }
  .fullwidth-bgheader--harwood {
    background-image: url(../imgs/hero_narrow_img_harwood_lrg.jpg); }
  .fullwidth-bgheader--burroughs {
    background-image: url(../imgs/hero_narrow_img_burroughs_lrg.jpg); }
  .fullwidth-bgheader__text-box {
    width: 80%;
    position: absolute;
    bottom: 5%;
    left: 3rem;
    line-height: normal;
    font-size: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .fullwidth-bgheader__text-box {
        font-size: 3rem; } }

.angle-divider {
  min-height: 225px;
  position: relative;
  opacity: 0.85;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../imgs/parallax-house.jpg);
  margin-bottom: 3rem; }
  @media only screen and (min-width: 75em) {
    .angle-divider {
      margin-bottom: 4rem;
      min-height: 300px;
      background-attachment: fixed; } }
  .angle-divider__content {
    font-size: 1.8rem;
    color: #000;
    text-align: center;
    padding-bottom: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; }
    @media only screen and (min-width: 56.25em) {
      .angle-divider__content {
        font-size: 2.4rem;
        width: 70%;
        padding-bottom: 5.5rem; } }
  .angle-divider__svg {
    width: 100%;
    max-width: 230rem;
    position: absolute;
    top: 10.5rem;
    z-index: 3; }
    @media only screen and (min-width: 56.25em) {
      .angle-divider__svg {
        top: 8.5rem; } }
    @media only screen and (min-width: 75em) {
      .angle-divider__svg {
        top: 15.5rem; } }
    @media only screen and (min-width: 112.5em) {
      .angle-divider__svg {
        top: 11.5rem; } }

/* Slideshow container */
.slideshow__names {
  display: none; }
  @media only screen and (min-width: 56.25em) {
    .slideshow__names {
      display: block; } }

.slideshow__container {
  position: relative;
  margin: auto; }

.slideshow__dots {
  text-align: center;
  margin: 2rem 0 0; }

.slideshow__dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }
  .slideshow__dot:hover {
    background-color: #717171; }
  .slideshow__dot.active {
    background-color: #717171; }

/* Individual property links */
.slideshow-link {
  font-weight: normal;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0rem 2rem 2rem 0;
  line-height: normal;
  color: #444;
  transition: all 1s; }
  .slideshow-link:hover p {
    color: #717171;
    transition: all 1s; }
  .slideshow-link--moveRight {
    -webkit-transform: translate(40%, 0%);
    -ms-transform: translate(40%, 0%);
    transform: translate(40%, 0%); }
    .slideshow-link--moveRight p {
      color: #717171; }
  .slideshow-link h3 {
    font-weight: normal;
    font-size: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .slideshow-link h3 {
        font-size: 2.25rem; } }

.slides {
  display: none; }
  .slides__text {
    color: #fff;
    font-size: 1.8rem;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0px; }
    @media only screen and (min-width: 56.25em) {
      .slides__text {
        font-size: 2.4rem; } }
    .slides__text--mob {
      display: inline-block; }
      @media only screen and (min-width: 56.25em) {
        .slides__text--mob {
          display: none; } }
  .slides__slidenumber {
    display: none; }
    @media only screen and (min-width: 56.25em) {
      .slides__slidenumber {
        display: inline-block;
        color: #fff;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        font-size: 2.2rem; } }

/* Next & previous buttons */
.prevnext-buttons {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  display: flex;
  align-items: center;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
  transition: 0.6s ease; }
  .prevnext-buttons__prev {
    left: 0;
    border-radius: 0 5px 5px 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.3); }
    .prevnext-buttons__prev:hover {
      background: rgba(0, 0, 0, 0.8); }
  .prevnext-buttons__next {
    right: 0;
    border-radius: 5px 0 0 5px;
    text-align: right;
    background: rgba(0, 0, 0, 0.3); }
    .prevnext-buttons__next:hover {
      background: rgba(0, 0, 0, 0.8); }

/* Fading animation */
.fade {
  animation: fade 2s ease-out; }

.property-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  margin: 1rem 1rem 0rem 1.5rem; }
  .property-link--center {
    margin: 2rem 1rem 0rem 1.5rem;
    justify-content: center; }
  .property-link__arrow {
    width: 3rem;
    height: 3rem;
    transition: all 0.5s; }
  .property-link__text {
    margin: 0rem 1rem 0rem 1.5rem;
    font-size: 1.8rem; }
  .property-link--desk {
    display: none; }
    @media only screen and (min-width: 75em) {
      .property-link--desk {
        display: flex; } }
  .property-link--mob {
    display: flex; }
    @media only screen and (min-width: 75em) {
      .property-link--mob {
        display: none; } }
  .property-link:hover .property-link__arrow {
    stroke: #3ab54a;
    -webkit-transform: translate(30%, 0%);
    -ms-transform: translate(30%, 0%);
    transform: translate(30%, 0%); }

.portfolio-developments__item {
  position: relative; }
  .portfolio-developments__item img {
    position: relative; }
  .portfolio-developments__item h3 {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    font-size: 3rem;
    color: #fff;
    font-weight: normal; }

.featured-properties {
  padding: 4rem 0 4rem; }
  .featured-properties__image {
    width: 100%; }

.content-list {
  width: 96%;
  margin-left: 4%;
  font-size: 1.6rem; }
  @media only screen and (min-width: 56.25em) {
    .content-list {
      font-size: 1.8rem; } }
  .content-list li {
    margin-bottom: 1rem; }
