@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin border-bottom {
    &--border-bottom {
        position: relative;
        &:after {
            border-color: #3ab54a;
            border-radius: 1em;
            border-top: 0.1em solid #3ab54a;
            content: "";
            position: absolute;
            right: 100%;
            bottom: -14px;
            left: 0;
            right: 20%;
        }
    }
}
@mixin slideshow-buttons-hover-col {
    background: rgba(0,0,0,0.3);
    &:hover {
        background: rgba(0,0,0,0.8);
    }
}
@mixin moveRight {
   -webkit-transform: translate(40%, 0%);
    -ms-transform: translate(40%, 0%);
    transform: translate(40%, 0%);
}
// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == tab-land {
        @media only screen and (min-width: 56.25em) { @content }; //900px 56.25em
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width: 75em) { @content }; //1200px 75em
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800px 112.5em
    }
}