// $content-width: 1000px;
// $breakpoint: 799px;

// $nav-height: 70px;
$nav-scroll-background: rgba(0,0,0,0.8);
$nav-font-color: #ffffff;
$nav-font-color-dark: #222222;
$link-hover-color: #3ab54a;

// land an county colours
$color-white: #fff;
$color-black: #000;

//colors -don't think need these
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-dark-grey: #444;
$color-grey: #777;
$color-light-grey: #bbb;
$color-vlight-grey: #eee;
$color-white: #fff;
$color-black: #000;
//colors -don't think need these

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 140rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 5rem;
$gutter-vertical-xsmall: 4rem;
$gutter-vertical-xxsmall: 1rem;
$gutter-horizontal: 6rem;
$gutter-sml-horizontal: 2rem;
