$nav-scroll-background: rgba(0,0,0,0.8);
$nav-font-color: #ffffff;
$nav-font-color-dark: #222222;
$primary-color: #3ab54a;
$primary-color2: #8cc63e;

$color-white: #fff;
$color-black: #000;
$color-dark-grey: #444;
$color-grey: #717171;
$color-light-grey: #bbb;
$color-vlight-grey: #dcdcdc;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 140rem;
$gutter-vertical-xlrg: 6rem;
$gutter-vertical-lrg: 5rem;
$gutter-vertical-med: 3rem;
$gutter-vertical-sml: 1rem;
$gutter-vertical-xsml: 0.5rem;

$gutter-horizontal: 6rem;
$gutter-sml-horizontal: 1.75rem;



// $gutter-vertical: 6rem;
    // $gutter-vertical-small: 5rem;
    // $gutter-vertical-xsmall: 4rem;
    // $gutter-vertical-xxsmall: 1rem;