.footer {
    background-color: $color-black;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-light-grey;
    position: relative;
    top: 5rem;
    text-align: center;
    @include respond(tab-land) {
        padding: 8rem 0;
    }
    &__logo-box {
        text-align: center;
        margin: 0rem auto 2rem;
        width: 70%;
        display: block;
        cursor: pointer;
        // transition: all 0.5s;
        @include respond(tab-land) {
            width: 40%;
            margin-bottom: 3rem;
        }
        &:hover {
            color: $color-vlight-grey;
        }
        &:hover .footer__logo {
            // color: $primary-color;
            width: 80px;
            height: 61px;
            background: url("../imgs/landc-logo-dbl3.png");
            background-repeat: no-repeat;
            background-size: 160px 61px;
            background-position: -80px;
        }
    }
    // &__logo {
    //     width: 6rem;
    //     height: auto;
    // }
    &__logo {
        width: 80px;
        height: 61px;
        background: url("../imgs/landc-logo-dbl3.png");
        background-repeat: no-repeat;
        background-size: 160px 61px;
        margin: 0 auto 1rem;
    }
    // .card:hover {
    //     background: url("/examples/images/card-front.jpg") no-repeat;
    // }
    &__title {
        font-weight: normal;
        font-size: 2.2rem;
    }
    &__navigation {
        border-top: 1px solid $color-grey;
        padding-top: 2rem;
        display: inline-block;
        width: 70%;
        @include respond(tab-land) {
            width: 50%;
        }
        
    }
    &__item {
        display: inline-block;
        font-size: 1.8rem;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            // text-transform: uppercase;
            display: inline-block;
            transition: all 0.5s;
        }
        &:hover {
            color: $color-vlight-grey;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }
    }
}