.header {
    height: 100vh;
    position: relative;
    background-attachment: scroll;
    background-position: top;
    background-image:url(../imgs/hero_img_01.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    color: $color-white;
    transition: all 1s;
    &__text-box {
        position: absolute;
        /* these absolute measurements are based on the parent */
        top: 35%;
        left: 4rem;
        // left: 50%;
        /* transform:translate measurements are based on the element itself */
        // transform: translate(-50%, -50%);
    }
}


/* .logo-box:hover .logo {
   animation: moveInRight 0.6s ease-out;
}  */