// .sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   display: block;
//   z-index: 2000;
// }
.header {
    height: 100vh;
    position: relative;
        /*to bottom right,*/
        /* adding these variables in an rgba only works in sass*/
        /*rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), */
    background-attachment: scroll;
    background-position: top;
    background-image:url(../imgs/hero_img_01.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    /* clip-path: polygon(x y, x y, x y, x y); measured from the t.left, t.right, b.right, b.left*/
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    color: $color-white;
    &__text-box {
        position: absolute;
        /* these absolute measurements are based on the parent */
        top: 35%;
        left: 4rem;
        // left: 50%;
        /* transform:translate measurements are based on the element itself */
        // transform: translate(-50%, -50%);

        // text-align: center;
    }
}
// .info-section {
//     height: 500px;
//     background: white;
// }
// .info-section-two {
//     height: 110px;
//     background: #fff;
//     position: relative;
//     top: -100px;
//     -webkit-clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
//     clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
//     @include respond(tab-port) {
//         -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
//         clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
//     }
// }
.angle-svg {
    position: absolute;
    top: 159px;
    @include respond(tab-port) {
        top: 209px;
    }
    z-index: 3000;
}
.img-wrapper {
    min-height: 225px;
    @include respond(tab-port) {
        min-height: 300px;
    }
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../imgs/background-house2.jpg);   
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: 1.8rem;
        width: 90%;
        font-weight: normal;
        color: $color-black;
        text-align: center;
        padding-bottom: 3rem;
        @include respond(tab-port) {
            font-size: 2.4rem;
            width: 70%;
            padding-bottom: 5.5rem;
        }
        
    } 
}
/* .logo-box:hover .logo {
   animation: moveInRight 0.6s ease-out;
}  */