body.is-open {
    height: 100vh;
    // overflow-y: hidden;
    // position: fixed;
}
.nav-wrap {
    height: 8rem;
    position: absolute;
    max-width: 230rem;
    width: 100%;
    margin: 0 auto;
    color: $nav-font-color;
    &--dark {
        color: $color-white;
        @include respond(tab-land) {
            color: $nav-font-color-dark; 
        }
    }
}
.nav-icons {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    background: $nav-scroll-background;
    animation: moveInTop 0.5s ease-out;
    @include respond(tab-land) {
        background: none;
        position: absolute;
        width: 20rem;
    }
    &__logo {
        /* browser will identify the correct measurement for the remaining dimension */
        height: 5rem;
        backface-visibility: hidden;
        position: relative;
        left: 4rem;
    }
    &__menu {
        position: absolute;
        right: 5rem;
        top: 2rem;
        width: 40px;
        @include respond(tab-land) {
            display: none;
        }
        &:hover {
            cursor: pointer;
        }
        &:after, &:before {
            background-color: #fff;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .2s ease-in-out;
        }
        &-center {
            background-color: #fff;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .2s ease-in-out;
        }
        &--open {
            &:before {
                -webkit-transform: translateY(12px) rotate(135deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
                -ms-transform: translateY(12px) rotate(135deg); /* IE 9 */
                transform: translateY(12px) rotate(135deg);
            }
            &:after {
                -webkit-transform: translateY(-12px) rotate(-135deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
                -ms-transform: translateY(-12px) rotate(-135deg); /* IE 9 */
                transform: translateY(-12px) rotate(-135deg);
            }
            & .nav-icons__menu-center {
                -webkit-transform: scale(0); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
                -ms-transform: scale(0); /* IE 9 */
                transform: scale(0);
            }
        }
    }
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    top: 0;
    bottom: 0;
    width: 0;
    background: $color-black;
    z-index: 1;
    right: 0;
    font-size: 3.5rem;
    transition: 0.2s ease-out;
    
    &__offsite-container {
        position: fixed;
        ul {
            opacity: 0;
        }
        transition: 0.2s ease-out;
        // transition: transform 0.5s ease-out;
    }
    @include respond(tab-land) {
        position: absolute;
        height: 8rem;
        width: 56rem;
        font-size: 2rem;
        background: none;
        right: 0;

        // removed
        animation: moveInTop 0.5s ease-out;
    }   
    ul {
        text-align: center;
        width: 100vw;
        list-style: none;
        @include respond(tab-land) {
            // width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 3rem;
        }
        li {
            @include respond(tab-land) {
                float: left;
                margin-right: 2rem;
            }
        }
    }
    
    &__link:hover:after {
        border-color: $primary-color;
        right: 15px;
    }
    

    &__link:after {
        border-radius: 1em;
        border-top: .1em solid $primary-color;
        content: "";
        position: absolute;
        right: 100%;
        bottom: -0.1em;
        left: 0;
        transition: right 0.25s cubic-bezier(0,.5,0,1), border-color 0.25s ease-out;
    }
    &__link {
        &.chosen:after {
            border-color: $primary-color;
            right: 15px;
            border-radius: 1em;
            border-top: .1em solid $primary-color;
            content: "";
            position: absolute;
            bottom: -0.1em;
            left: 0;
        }
    }
        
}
.show-menu {
    /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    // -webkit-transform: width(-200vw); 
     /* IE 9 */
    // -ms-transform: width(-200vw);
    // transform: width(-200vw);

    ul {
        opacity: 1; 
    }
    width: 100vw;
}
.pre-sticky {
    @include respond(tab-land) {
        position: fixed;
        height: 8rem;
        width: 100%;
        z-index: 1;
        background: $nav-scroll-background;
        top: -10rem;
        transition: transform 0.3s ease-out;
    }
}
.sticky {
    @include respond(tab-land) {
        transform: translateY(10rem);
        color: $color-white;
    }
}