body.is-open {
    height: 100vh;
    overflow-y: hidden;
    position:fixed;
}
.nav-wrap {
    height: 8rem;
    position: absolute;
    width: 100%;
}
.nav-icons {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: $nav-scroll-background;
    animation: moveInTop 0.5s ease-out;
    @include respond(tab-port) {
        background: none;
        position: absolute;
        width: 20rem;
    }
    &__logo {
        /* browser will identify the correct measurement for the remaining dimension */
        height: 5rem;
        backface-visibility: hidden;
        position: relative;
        left: 4rem;
    }
    &__menu {
        position: absolute;
        right: 4rem;
        width: 40px;
        @include respond(tab-port) {
            display: none;
        }
        &:hover {
            cursor: pointer;
        }
        &:after, &:before {
            background-color: #fff;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .2s ease-in-out;
        }
        &-center {
            background-color: #fff;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .2s ease-in-out;
        }
        &--open {
            &:before {
                -webkit-transform: translateY(12px) rotate(135deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
                -ms-transform: translateY(12px) rotate(135deg); /* IE 9 */
                transform: translateY(12px) rotate(135deg);
            }
            &:after {
                -webkit-transform: translateY(-12px) rotate(-135deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
                -ms-transform: translateY(-12px) rotate(-135deg); /* IE 9 */
                transform: translateY(-12px) rotate(-135deg);
            }
            & .nav-icons__menu-center {
                -webkit-transform: scale(0); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
                -ms-transform: scale(0); /* IE 9 */
                transform: scale(0);
            }
        }
    }
}
.navigation {
    color: $nav-font-color;
    display: flex;
    align-items: center;
    // justify-content: flex-end;
    // position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: $color-black;
    z-index: 1;
    right: -100vw;
    font-size: 3.5rem;
    &__offsite-container {
        position: fixed;
        transition: transform 0.3s ease-out;
    }
    @include respond(tab-port) {
        position: absolute;
        height: 8rem;
        width: 56rem;
        font-size: 2rem;
        background: none;
        right: 0;
        animation: moveInTop 0.5s ease-out;
    }   
    ul {
        text-align: center;
        width: 100vw;
        @include respond(tab-port) {
            // width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 3rem;
        }
        li {
            @include respond(tab-port) {
                float: left;
                margin-right: 2rem;
            }
        }
    }
    
    &__link:hover:after {
        border-color: $link-hover-color;
        right: 0;
    }

    &__link:after {
        border-radius: 1em;
        border-top: .1em solid $link-hover-color;
        content: "";
        position: absolute;
        right: 100%;
        bottom: .14em;
        left: 0;
        transition: right 0.25s cubic-bezier(0,.5,0,1), border-color 0.25s ease-out;
    }
    &__link:hover:after {
        right: 0;
    }
}
.show-menu {
    -webkit-transform: translateX(-100vw); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(-100vw); /* IE 9 */
    transform: translateX(-100vw);
}
.pre-sticky {
    @include respond(tab-port) {
        position: fixed;
        height: 8rem;
        width: 100%;
        z-index: 1;
        background: $nav-scroll-background;
        top: -10rem;
        transition: transform 0.3s ease-out;
    }
}
.sticky {
    @include respond(tab-port) {
        transform: translateY(10rem);
    }
}