.angle-divider {
    width: 100%;
    max-width: 230rem;
    min-height: 225px;
    position: relative;
    opacity: 0.85;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../imgs/parallax-house.jpg); 
    margin-bottom: 3rem; 
    @include respond(desktop) {
        margin-bottom: 4rem;  
        min-height: 300px;
        background-attachment: fixed;
    }
    &__content {
        font-size: 1.8rem;
        color: $color-black;
        text-align: center;
        padding-bottom: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        @include respond(tab-land) {
            font-size: 2.4rem;
            width: 70%;
            padding-bottom: 5.5rem;
        }
    } 
    &__svg {
        width: 100%;
        max-width: 230rem;
        position: absolute;
        top: 10.5rem;
        @include respond(tab-land) {
            top: 8.5rem;
        }
        @include respond(desktop) {
            top: 15.5rem;
        }
         @include respond(big-desktop) {
            top: 11.5rem;
        }
        z-index: 3;
    }
}

