.angle-divider {
    min-height: 225px;
    position: relative;
    opacity: 0.85;
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../imgs/background-house2.jpg);   
    display: flex;
    align-items: center;
    justify-content: center;


    // min-height: 225px;
    // position: relative;
    // opacity: 0.85;
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-image:url(../imgs/background-house2.jpg);   
    // display: flex;
    // align-items: center;
    // justify-content: center;
    
    
    // -webkit-overflow-scrolling:touch;
    // position:sticky;
    @include respond(tab-port) {
        // min-height: 300px;
    }
    @include respond(tab-land) {
        min-height: 300px;
        background-attachment: fixed;
    }
    h2 {
        font-size: 1.8rem;
        width: 90%;
        font-weight: normal;
        color: $color-black;
        text-align: center;
        padding-bottom: 3rem;
        @include respond(tab-port) {
            font-size: 2.4rem;
            width: 70%;
            padding-bottom: 5.5rem;
        }
    } 
    &__svg {
        width: 100%;
        max-width: 200rem;
        position: absolute;
        top: 10.5rem;
        @include respond(tab-port) {
            top: 8.5rem;
        }
        @include respond(tab-land) {
            top: 15.5rem;
        }
         @include respond(desktop) {
            top: 11.5rem;
        }
        z-index: 3;
    }
}
