.fullwidth-bgheader {
    position: relative;
    top: 0;
    height: 40rem;
    background-attachment: scroll;
    background-position: top;
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom: 2rem;
    color: $color-white;
    transition: all 0.5s;

    // pages
    &--about {background-image:url(../imgs/hero_narrow_img_about_lrg.jpg);}

    // development
    &--calvert {background-image:url(../imgs/hero_narrow_img_calvert.jpg);}
    &--arkesden {background-image:url(../imgs/hero_narrow_img_arkesden.jpg);}
    &--hilltop {background-image:url(../imgs/hero_narrow_img_hilltop.jpg);}

    // property
    &--drummonds {background-image:url(../imgs/hero_narrow_img_drummonds_lrg.jpg);}
    &--rushes {background-image:url(../imgs/hero_narrow_img_rushes_lrg.jpg);}
    &--bowditch {background-image:url(../imgs/hero_narrow_img_bowditch_lrg.jpg);}
    &--wedmore {background-image:url(../imgs/hero_narrow_img_wedmore_lrg.jpg);}
    &--harwood {background-image:url(../imgs/hero_narrow_img_harwood_lrg.jpg);}
    &--burroughs {background-image:url(../imgs/hero_narrow_img_burroughs_lrg.jpg);}
    
    &__text-box {
        width: 80%;
        position: absolute;
        bottom: 5%;
        left: 3rem;
        line-height: normal;
        font-size: 2rem;
        @include respond(tab-land) {
            font-size: 3rem;
        }
    }
}