.fullwidth-bgheader {
    position: relative;
    top: -1.5rem;
    height: 40rem;
    background-attachment: scroll;
    background-position: top;
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom: 1rem;
    color: $color-white;
    transition: all 0.5s;

    // pages
    &__about {background-image:url(../imgs/hero_narrow_img_about_lrg.jpg);}

    // development
    &__calvert {background-image:url(../imgs/hero_narrow_img_calvert.jpg);}
    &__arkesden {background-image:url(../imgs/hero_narrow_img_arkesden.jpg);}
    &__hilltop {background-image:url(../imgs/hero_narrow_img_hilltop.jpg);}

    // property
    &__drummonds {background-image:url(../imgs/hero_narrow_img_drummonds_lrg.jpg);}
    &__rushes {background-image:url(../imgs/hero_narrow_img_rushes_lrg.jpg);}
    &__bowditch {background-image:url(../imgs/hero_narrow_img_bowditch_lrg.jpg);}
    &__wedmore {background-image:url(../imgs/hero_narrow_img_wedmore_lrg.jpg);}
    &__harwood {background-image:url(../imgs/hero_narrow_img_harwood_lrg.jpg);}
    &__burroughs {background-image:url(../imgs/hero_narrow_img_burroughs_lrg.jpg);}
    
    &__text-box {
        width: 80%;
        position: absolute;
        bottom: 5%;
        left: 3rem;
        line-height: normal;
        font-size: 2rem;
        @include respond(tab-port) {
            font-size: 3rem;
        }
    }
}