.property-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    margin: 1rem 1rem 0rem 1.5rem;
    &--center {
        margin: 2rem 1rem 0rem 1.5rem;
        justify-content: center; 
    }
    &__arrow {
        width: 3rem;
        height: 3rem;
        transition: all 0.5s;
    }
    &__text {
        margin: 0rem 1rem 0rem 1.5rem;
    }
    &--desk {
        display: none;
        @include respond(desktop) {
            display: flex;
        }
    }
    &--mob {
        display: flex;
        @include respond(desktop) {
            display: none;
        }
    }
    &:hover .property-link__arrow {
        stroke: $primary-color;
        -webkit-transform: translate(30%, 0%);
        -ms-transform: translate(30%, 0%);
        transform: translate(30%, 0%);
    }
}