/* Slideshow container */
.slideshow {
  // property names to the left
  &__names {
    display: none;
    @include respond(tab-land) {
      display: block;
    }
  }
  // property images
  &__container {
    position: relative;
    margin: auto;
  }
  // dots
  &__dots {
    text-align: center;
    margin: 2rem 0 0;
  }
  &__dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2px;
    background-color: $color-light-grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    &:hover {
      background-color: $color-grey;
    }
    &.active {
      background-color: $color-grey;
    }
  }
}
/* Individual property links */
.slideshow-link {
  font-weight: normal;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0rem 2rem 2rem 0;
  line-height: normal;
  color: $color-dark-grey;
  transition: all 1s;
  &:hover p {
      color: $color-grey;
      transition: all 1s;
  }
  &--moveRight {
      p {color: $color-grey;}
      @include moveRight();
  }
  h3 {
      font-weight: normal;
      font-size: 2rem;
      @include respond(tab-land) {
          font-size: 2.25rem;
      }
  }
}
// individual slides
.slides {
  display: none;
  // property name on image slide
  &__text {
    color: $color-white;
    font-size: 1.8rem;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0px;
    @include respond(tab-land) {
      font-size: 2.4rem;
    }
    // change text on mob
    &--mob {
      display: inline-block;
      @include respond(tab-land) {
        display: none;
      }
    }
  }
  // slide number on image slide
  &__slidenumber {
    display: none;
    @include respond(tab-land) {
      display: inline-block;
      color: $color-white;
      padding: 8px 12px;
      position: absolute;
      top: 0;
      font-size: 2.2rem;
    }
  }
}
/* Next & previous buttons */
.prevnext-buttons {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  display: flex;
  align-items: center;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  transition: 0.6s ease;
  &__prev {
      left: 0;
      border-radius:  0 5px 5px 0;
      text-align: left;
      @include slideshow-buttons-hover-col();
  }
  &__next {
      right: 0;
      border-radius: 5px 0 0 5px;
      text-align: right;
      @include slideshow-buttons-hover-col();
  }
}
/* Fading animation */
.fade {animation: fade 2s ease-out;}