/* reset for different browsers*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* better to inherit this from body so it's more future proof and is the standard approach */
    box-sizing: inherit; 
}
/* this defines what 1rem is*/
html {
    /* needs to be % so that it doesn't overide the browser default size. */
    /* this would mean users wouldn't be able to zoom in */
    /* font-size: 10px; */
    /* this defines what 1rem is*/
    font-size: 62.5%; //1 rem = 10px; 10/16 = 62.5%
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16 = 75%
    }
}

body {
    box-sizing: border-box; 
    max-width: 230rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    &.overflow-hid {
        overflow-x: hidden; 
    }
}


// utilties
.u-marg-top {margin-top: 2rem;}



