body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-grey;
}

    
// site-heading HOMEPAGE ONLY 
.site-heading {
    /* occasionally get wobble on animation. not known why but this is fixes it, */
    /* this hides the back part of an element when we transform it */
    backface-visibility: hidden;
    margin-bottom: 2rem;
    &--main {
        display: block;
        font-size: 4rem;
        line-height: normal;
        font-weight: 400;
        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        @include respond(tab-port) {
            font-size: 8rem;
        }
    }
    &--sub {
        display: block;
        font-size: 4rem;
        @include respond(tab-port) {
            font-size: 8rem;
        }
        line-height: normal;
        font-weight: 400;
        animation: moveInBottom 1s ease-out;
    }
    &__paragraph {
        width: 100%;
        padding: 0rem 1rem 1rem 0;
        font-size: $default-font-size;
        line-height: normal;
        animation: moveInBottom 1s ease-out;
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
        @include respond(tab-port) {
            width: 70%;
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
        @include respond(tab-land) {
            width: 40%;
        }
    }
}
// site-heading HOMEPAGE ONLY ENDS

.heading-primary, .heading-secondary,
.heading-tertiary {
    font-weight: 700;
    // color:$color-dark-grey;
}
.heading-primary, .heading-secondary {
    display: inline-block;
    letter-spacing: 2px;
    line-height: normal;
}
.heading-primary {
    font-size: 4rem;
    @include border-bottom;  
}
.heading-secondary {
    font-size: 3.25rem;
    @include border-bottom;  
}
.heading-tertiary {
    font-size: 2.5rem;
    line-height: 1.25;
}
.heading-detail {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    color: $color-grey;
}
.paragraph {
    font-size: $default-font-size;
    // line-height: normal;
    &:not(:last-child) {
        margin-bottom: 1.6rem;
    }
}