body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-grey;
}

// HOMEPAGE SITE HEADING ONLY 
.homepage-heading {
    /* occasionally get wobble on animation. not known why but this is fixes it, */
    /* this hides the back part of an element when we transform it */
    backface-visibility: hidden;
    margin-bottom: 2rem;
    &--main {
        display: block;
        font-size: 4rem;
        line-height: normal;
        font-weight: 400;
        animation: moveInBottom 1s ease-out;
        @include respond(tab-land) {
            font-size: 8rem;
        }
    }
    &__paragraph {
        width: 100%;
        padding: 0rem 1rem 1rem 0;
        font-size: 1.8rem;
        line-height: normal;
        line-height: 1.3;
        animation: moveInBottom 1s ease-out;
        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }
        @include respond(tab-land) {
            width: 70%;
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
        @include respond(desktop) {
            width: 40%;
        }
    }
}
// HOMEPAGE SITE HEADING ONLY ENDS

.heading-primary, .heading-secondary,
.heading-tertiary {
    font-weight: 700;
}
.heading-primary, .heading-secondary {
    display: inline-block;
    letter-spacing: 2px;
    line-height: normal;
    @include border-bottom; 
}
.heading-primary {
    margin: 2rem 0;
    font-size: 3.5rem; 
    @include respond(tab-land) {
        font-size: 4rem;
    }
}
.heading-secondary {
    font-size: 3.25rem; 
}
.heading-tertiary {
    font-size: 2.5rem;
}
.heading-detail {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    color: $color-grey;
}
.paragraph {
    // font-size: $default-font-size;
    // @include respond(tab-land) {
        font-size: 1.8rem;  
    // }
    &:not(:last-child) {
        margin-bottom: 1.6rem;
    }
    &--small-marg-bottom {
        &:not(:last-child) {
            margin-bottom: 0.3rem;
        }
    }
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    position: relative;
    line-height: normal;
    &.contact {
        margin-bottom: 1.6rem;
        font-size: $default-font-size;
        @include respond(tab-land) {
            font-size: 1.8rem;  
        }
        display: block;
        &--small-marg-bottom {
            // font-size: $default-font-size;
            &:not(:last-child) {
                margin-bottom: 0.3rem;
            }
        }
    }
}
a:hover {
  color: inherit;
  right: 0;
  text-decoration: none;
}
.generic-page, .portfolio {
    padding: 10rem 0rem 0rem;
}