// .section-property {

//     padding: 6rem 0;
// }
.house-test {
    width: 100%;
}
.section-property-padding {
    padding: 6rem 0;
}
.section-property-padding-bottom {
    padding: 0 0 6rem 0;
}
.angle-svg {
    width: 100%;
    position: absolute;
    top: 14.2rem;
    @include respond(tab-port) {
        top: 21.2rem;
    }
    z-index: 3;
}