.portfolio-developments {
    position: relative;
    top: 5rem;
    height: 40rem;
    background-attachment: scroll;
    background-position: top;
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom: 7rem;
    color: $color-white;
    transition: all 0.5s;

    // development
    &__calvert {
        background-image:url(../imgs/hero_narrow_img_01.jpg);
    }
    &__drummonds {
        background-image:url(../imgs/hero_narrow_img_drummonds_lrg.jpg);
    }

    &__rushes {
        background-image:url(../imgs/hero_narrow_img_rushes_lrg.jpg);
    }

    // development
    &__arkesden {
        background-image:url(../imgs/hero_narrow_img_02.jpg);
    }

    // development
    &__hilltop {
        background-image:url(../imgs/hero_narrow_img_03.jpg);
    }
    
    &__text-box {
        width: 80%;
        position: absolute;
        bottom: 5%;
        left: 3rem;
        line-height: normal;
        font-size: 2rem;
        @include respond(tab-port) {
            font-size: 3rem;
        }
    }
    &__item {
        position: relative;
        img {
            position: relative;
        }
        h3 {
            position:absolute;
            bottom: 1rem;
            left: 2rem;
            font-size: 3rem;
            color: $color-white;
            font-weight: normal;
        }
    }
    // &__property-grid {
    //     position: relative;
    //     top: 7rem;
    // }
    // &__footer {
    //     position: relative;
    //     top: 8rem;
    // }
}


/***test****/
/*Zoom In*/
// .imgTest#zoomIn img {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     -webkit-transition: .3s ease-in-out;
//     transition: .3s ease-in-out;
// }
// .imgTest#zoomIn:hover img {
//     -webkit-transform: scale(1.3);
//     transform: scale(1.3);
// }

// /