.portfolio-developments {
    &__item {
        position: relative;
        img {
            position: relative;
        }
        h3 {
            position:absolute;
            bottom: 1rem;
            left: 2rem;
            font-size: 3rem;
            color: $color-white;
            font-weight: normal;
        }
    }
}
// .row {
//     &--property-development {
//         position: relative;
//         top: 1.5rem;
        
//     }
// }
