.portfolio-developments {
    &__item {
        position: relative;
        display: block;
        img {
            position: relative;
        }
        h3 {
            position:absolute;
            bottom: 2rem;
            left: 2rem;
            font-size: 3rem;
            color: $color-white;
            font-weight: normal;
            transition: all 1s; 
            &:after {
                right: 100%;
                border-radius: 1em;
                border-top: .1em solid $color-white;
                content: "";
                position: absolute;
                bottom: -0.2em;
                left: 0;
                transition: right 0.25s cubic-bezier(0,.5,0,1), border-color 0.25s ease-out;
            }
            &.chosen:after {
                border-color: $color-white;
                right: 15px;
                border-radius: 1em;
                border-top: .1em solid $color-white;
                content: "";
                position: absolute;
                bottom: -0.1em;
                left: 0;
            }
        }


        &:hover h3:after {
            border-color: $color-white;
            right: 15px;
        }
    }
}